QPushButton {
    color: white;
	background-color: #646464;
	border-color: #3e3e3e;
	border-width:1px;
	border-radius: 4px;
	border-style: solid;
    height: 20px;
}

QPushButton:hover {
	background-color: #383838; 
	border-color: #474747;
}

QPushButton:pressed {
	background-color: #496a93; 
}

QPushButton:checked {
	background-color: #5f8ac1
}

QPushButton:checked:hover {
	background-color: #496a93
}

QPushButton:focus {
	outline: none; 
}

SgzRollout{
    height: 20px;
    background-color: #515151;
	border-color: #3e3e3e;
	border-width:1px;
	border-radius: 4px;
	border-style: solid;
}

QPushButton#RolloutHeaderBtn {
    color: white;
    text-align: left;
    font-weight: bold;
	background-color: transparent;
	border-width:0px;
    image: url(Icons/PySideRolloutArrow_Folded.png);
    image-position: left;
}

QPushButton#RolloutHeaderBtn:hover {
    image: url(Icons/PySideRolloutArrow_Folded_Hover.png);
}

QPushButton#RolloutHeaderBtn:checked {
    image: url(Icons/PySideRolloutArrow_Expanded.png);
}

QPushButton#RolloutHeaderBtn:checked:hover {
    image: url(Icons/PySideRolloutArrow_Expanded_Hover.png);
}

QPushButton#RolloutDragBtn{
	background-color: transparent;
	border-width:0px;
    image: url(Icons/PySideRolloutDrag.png);
    image-position: left;
}

QPushButton#RolloutDragBtn:hover {
    image: url(Icons/PySideRolloutDrag_Hover.png);
}
